@model IEnumerable<VirtualHealthProject.ViewModels.DoctorVisitViewModel>
@{
    ViewBag.Title = "Patient Care Dashboard";
    Layout = "_NurseLayout";
}

<div class="container my-2">
    <h2 class="text-center">Welcome To Patient Care</h2>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <a asp-area="" asp-controller="Vitals" asp-action="Create">
            <div class="dash-widget">
                <span class="dash-widget-bg1"><i class="fas fa-heartbeat" aria-hidden="true"></i></span>
                <div class="dash-widget-info text-right">
                    <h3>Patient Vitals</h3>
                    <span class="widget-title1">Visits<i class="fa fa-check" aria-hidden="true"></i></span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <a asp-area="" asp-controller="NurseDispense" asp-action="Create">
            <div class="dash-widget">
                <span class="dash-widget-bg2"><i class="fas fa-pills"></i></span>
                <div class="dash-widget-info text-right">
                    <h3>Medication Dispense</h3>
                    <span class="widget-title2">Discharge <i class="fa fa-check" aria-hidden="true"></i></span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <a asp-area="" asp-controller="PrescriptionScripts" asp-action="Create">
            <div class="dash-widget">
                <span class="dash-widget-bg3"><i class="fas fa-prescription-bottle-alt" aria-hidden="true"></i></span>
                <div class="dash-widget-info text-right">
                    <h3>Prescribe Medication</h3>
                    <span class="widget-title3">Medication<i class="fa fa-check" aria-hidden="true"></i></span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <a asp-area="" asp-controller="NurseInstructions" asp-action="Create">
            <div class="dash-widget">
                <span class="dash-widget-bg4"><i class="fas fa-notes-medical" aria-hidden="true"></i></span>
                <div class="dash-widget-info text-right">
                    <h3>Instruction</h3>
                    <span class="widget-title4">View Folders<i class="fa fa-check" aria-hidden="true"></i></span>
                </div>
            </div>
        </a>
    </div>
</div>













<div class="row">
    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card">
            <div class="card-body">
                <div class="chart-title">
                    <h4>Patient Total</h4>
                    <span class="float-right"><i class="fa fa-caret-up" aria-hidden="true"></i> 15% Higher than Last Month</span>
                </div>
                <canvas id="radarChart1"></canvas>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card">
            <div class="card-body">
                <div class="chart-title">
                    <h4>Patients In</h4>
                    <div class="float-right">
                        <ul class="chat-user-total">
                            <li><i class="fa fa-circle current-users" aria-hidden="true"></i>ICU</li>
                            <li><i class="fa fa-circle old-users" aria-hidden="true"></i> OPD</li>
                        </ul>
                    </div>
                </div>
                <canvas id="radarChart2"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const data1 = {
        labels: ['January', 'February', 'March', 'April', 'May', 'June'],
        datasets: [{
            label: 'Patient Vitals Administered',
            data: [30, 50, 70, 40, 80, 60], // Sample data
            backgroundColor: 'rgba(75, 192, 192, 0.5)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 2,
            fill: true,
        }, {
            label: 'Medication Dispensed',
            data: [20, 40, 60, 30, 70, 50], // Sample data
            backgroundColor: 'rgba(255, 99, 132, 0.5)',
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 2,
            fill: true,
        }, {
            label: 'Prescriptions Made',
            data: [25, 35, 55, 45, 65, 75], // Sample data
            backgroundColor: 'rgba(255, 206, 86, 0.5)',
            borderColor: 'rgba(255, 206, 86, 1)',
            borderWidth: 2,
            fill: true,
        }]
    };

    const data2 = {
        labels: ['Week 1', 'Week 2', 'Week 3', 'Week 4'],
        datasets: [{
            label: 'Patient Vitals Administered',
            data: [20, 40, 60, 80], // Sample data
            backgroundColor: 'rgba(75, 192, 192, 0.5)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 2,
            fill: true,
        }, {
            label: 'Medication Dispensed',
            data: [10, 30, 50, 70], // Sample data
            backgroundColor: 'rgba(255, 99, 132, 0.5)',
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 2,
            fill: true,
        }, {
            label: 'Prescriptions Made',
            data: [15, 25, 35, 45], // Sample data
            backgroundColor: 'rgba(255, 206, 86, 0.5)',
            borderColor: 'rgba(255, 206, 86, 1)',
            borderWidth: 2,
            fill: true,
        }]
    };

    const config1 = {
        type: 'radar',
        data: data1,
        options: {
            responsive: true,
            scales: {
                r: {
                    beginAtZero: true,
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 100
                    }
                }
            },
            plugins: {
                legend: {
                    display: true,
                },
                tooltip: {
                    mode: 'index',
                    intersect: false,
                },
            },
        },
    };

    const config2 = {
        type: 'radar',
        data: data2,
        options: config1.options // Use the same options as config1
    };

    const ctx1 = document.getElementById('radarChart1').getContext('2d');
    const chart1 = new Chart(ctx1, config1);

    const ctx2 = document.getElementById('radarChart2').getContext('2d');
    const chart2 = new Chart(ctx2, config2);
</script>









































@* <div class="row">
    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card">
            <div class="card-body">
                <div class="chart-title">
                    <h4>Patient Total</h4>
                    <span class="float-right"><i class="fa fa-caret-up" aria-hidden="true"></i> 15% Higher than Last Month</span>
                </div>
                <canvas id="linegraph"></canvas>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card">
            <div class="card-body">
                <div class="chart-title">
                    <h4>Patients In</h4>
                    <div class="float-right">
                        <ul class="chat-user-total">
                            <li><i class="fa fa-circle current-users" aria-hidden="true"></i>ICU</li>
                            <li><i class="fa fa-circle old-users" aria-hidden="true"></i> OPD</li>
                        </ul>
                    </div>
                </div>
                <canvas id="bargraph"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6 col-lg-12 col-xl-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title d-inline-block">Upcoming Visits</h4> <a asp-area="" asp-controller="DoctorVisits" asp-action="Index" class="btn btn-primary float-right">View all</a>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.VisitDateTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Note)
                                </th>
                                <th>
                                    Patient Name
                                </th>
                                <th>
                                    Doctors Name
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VisitDateTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Note)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Patients)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Users)
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5" class="text-center">No doctor visits found.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
 *@
</div>
