@model VirtualHealthProject.Models.Prescription

@{
    ViewData["Title"] = "Details";
    Layout = "_NurseLayout";
}

<h1>Details</h1>

<div>
    <h4>Prescription</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PatientId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PatientId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateRecorded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateRecorded)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rx)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rx)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dispense)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dispense)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PatientId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
