@model VirtualHealthProject.Models.WeeklyStockTakes

@{
    ViewData["Title"] = "Details";
    Layout = "_StockManagerLayout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Stock Takes Details</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <style>
        .container {
            max-width: 800px;
        }

        /* Adjusting the print button to be top-right but further down */
        .btn-print {
            position: absolute;
            top: 50px;
            right: 30px;
            background-color: darkgreen;
            color: white;
            z-index: 999;
        }

        .btn-back {
            margin-right: 10px;
        }

        @@media print {
            /* Hide everything except the details section */
            body * {
                visibility: hidden;
            }

            .container, .container * {
                visibility: visible;
            }

            .container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }
            /* Hide the print button itself in the print view */
            .btn-print {
                display: none;
            }
            /* Hide the Edit and Back buttons when printing */
            .btn-back, .btn-edit {
                display: none;
            }
            /* Hide the Title of the page when printing */
            h1 {
                display: none;
            }
        }

        /* Adjust zoom level for better visibility after print */
        body.zoomed {
            zoom: 1.2; /* Adjust this value for the desired zoom level */
        }
    </style>
</head>
<body>
    <div class="container mt-4">
        <h1 class="mb-4">Weekly Stock Takes Details</h1>

        <!-- Print Button (positioned top-right but further down) -->
        <button onclick="window.print(); setTimeout(resetZoom, 500);" class="btn btn-primary btn-print">
            <i class="bx bxs-printer" style="color:#01acff"></i>
            Print Info
        </button>

        <div>
            <h4 class="mb-3">Weekly Stock Takes Information</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ManagerName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ManagerName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.DateTime)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.DateTime)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ConsumableName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ConsumableName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.AvailableStock)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.AvailableStock)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.StockNeeded)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.StockNeeded)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Comment)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Comment)
                </dd>
            </dl>
        </div>

        <div class="mt-4">
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.StockTakeID">Edit</a>
            <a class="btn btn-secondary btn-back" asp-action="Index">Back to List</a>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

