@model VirtualHealthProject.Models.Employee

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
    
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Details</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <style>
        .container {
            max-width: 800px;
        }
        .btn-back {
            margin-right: 10px;
        }
        .btn-pdf {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>
</head>
<body>
    <div class="container mt-4 position-relative">
        <!-- PDF Button -->
        <a class="btn btn-success btn-pdf" href="@Url.Action("DownloadPdf", new { id = Model.EmployeeID })">Download PDF</a>

        <h1 class="mb-4">Employee Details</h1>

        <div>
            <h4 class="mb-3">Employee Information</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.EmpNo)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.EmpNo)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Surname)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Surname)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.EmailAddress)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Mobile)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Mobile)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.JoinDate)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.JoinDate)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Role)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Role)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.CreatedById)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CreatedById)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CreatedOn)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ModifiedById)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ModifiedById)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ModifiedOn)
                </dd>
            </dl>
        </div>

        <div class="mt-4">
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.EmployeeID">Edit</a>
            <a class="btn btn-secondary ml-2" asp-action="ListOf">Back to List</a>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script> *@
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


